{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/wishyoudie/localizer"
  },
  "author": "Vladimir Ilyin <ilyinvp@yandex.ru>",
  "homepage": "https://github.com/wishyoudie/localizer#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}